ENV=current_env

# AWS Configuration
S3_BUCKET_NAME=your-s3-bucket-name

# Database Configuration
DATABASE_URL=postgresql+psycopg2://myuser:mypassword@db:5432/mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

# Application Configuration
LOG_LEVEL=INFO 
